MyServices/WebContent/wsdl/AccountServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.mahendra.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.mahendra.com" xmlns:intf="http://services.mahendra.com" xmlns:tns1="http://models.mahendra.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.mahendra.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://models.mahendra.com"/>
   <element name="save">
    <complexType>
     <sequence>
      <element name="ac" type="tns1:Account"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveResponse">
    <complexType/>
   </element>
   <element name="getAccounts">
    <complexType/>
   </element>
   <element name="getAccountsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAccountsReturn" type="tns1:Account"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://models.mahendra.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Account">
    <sequence>
     <element name="accountNo" type="xsd:int"/>
     <element name="balance" type="xsd:double"/>
     <element name="holder" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="saveResponse">

      <wsdl:part element="impl:saveResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveRequest">

      <wsdl:part element="impl:save" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAccountsResponse">

      <wsdl:part element="impl:getAccountsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAccountsRequest">

      <wsdl:part element="impl:getAccounts" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AccountServiceImpl">

      <wsdl:operation name="save">

         <wsdl:input message="impl:saveRequest" name="saveRequest">

       </wsdl:input>

         <wsdl:output message="impl:saveResponse" name="saveResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAccounts">

         <wsdl:input message="impl:getAccountsRequest" name="getAccountsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAccountsResponse" name="getAccountsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AccountServiceImplSoapBinding" type="impl:AccountServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="save">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saveResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAccounts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAccountsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAccountsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AccountServiceImplService">

      <wsdl:port binding="impl:AccountServiceImplSoapBinding" name="AccountServiceImpl">

         <wsdlsoap:address location="http://localhost:9080/MyServices/services/AccountServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
